@model PastAndFutureAppointmentsViewModel
@{
    //Geçmiş randevular paginated listte tutuluyor.
    //Previous page varsa aktif yoksa pasif olmasını tutan string değişken
    string prevDisabledForPast = Model.PastAppointments.PreviousPage ? "" : "disabled";
    string nextDisabledForPast = Model.PastAppointments.NextPage ? "" : "disabled";
}

@{
    //Aktif randevular paginated listte tutuluyor.
    //Previous page varsa aktif yoksa pasif olmasını tutan string değişken
    string prevDisabledForUpcoming = Model.UpcomingAppointments.PreviousPage ? "" : "disabled";
    string nextDisabledForUpcoming = Model.UpcomingAppointments.NextPage ? "" : "disabled";
}

<div class="m-4">
    <ul class="nav nav-tabs" id="myTab">

        <li class="nav-item">
            <a href="#myAppointments" class="nav-link active" data-bs-toggle="tab">Randevularım</a>
        </li>
        <li class="nav-item">
            <a href="#myPastAppointments" class="nav-link" data-bs-toggle="tab">Geçmiş Randevularım</a>
        </li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="myAppointments">
            <table class="table" style="margin-top:15px">
                <tbody>
                    @if (Model.UpcomingAppointments.Count > 0)
                    {
                        <tr>
                            <td>
                                <form asp-controller="Patient"
                                      asp-action="UpcomingAppointmentsExcelExport" method="post">
                                    <button type="submit"
                                            class="btn btn-sm btn-default"
                                            style="float:right">
                                        <span>
                                            <i class="fa fa-print"></i>
                                        </span>
                                    </button>
                                </form>
                                <button type="button"
                                        onclick="UpcomingAppointmentsExcelExportBtnClicked()"
                                        class="btn btn-sm btn-default"
                                        style="float:right">
                                    <span>
                                        <i class="fa fa-print"></i>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.UpcomingAppointments)
                    {
                        <tr>
                            <td style="vertical-align:middle">
                                <strong>
                                    <span style="background: #fafafa; border: 1px solid #d9d9d9; border-radius: 5px; background-color: rgb(45, 183, 245); color:#fff; padding:5px;">
                                        @item.AppointmentDate.ToShortDateString() - @item.AppointmentHour
                                    </span>

                                </strong><br />
                            </td>
                            <td>
                                @item.HospitalClinic.Hospital.HospitalName
                                <br />
                                @item.HospitalClinic.Clinic.ClinicName
                                <br />
                                @item.HospitalClinic.Doctor.AppUser.Name
                                @item.HospitalClinic.Doctor.AppUser.Surname
                            </td>
                            <td>
                                <button onclick="CancelAppointmentBtnClicked(@item.Id)"
                                        class="btn btn-danger btn-sm">
                                    İptal Et
                                </button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            @*Önceki sayfa ve sonraki sayfa buttonları*@
            <a asp-controller="Patient" asp-action="Index"
               asp-route-pageNumberFuture="@(Model.UpcomingAppointments.PageIndex-1)"
               class="btn @prevDisabledForUpcoming" style="float:left">
                Önceki Sayfa
            </a>
            <a asp-controller="Patient" asp-action="Index"
               asp-route-pageNumberFuture="@(Model.UpcomingAppointments.PageIndex+1)"
               class="btn @nextDisabledForUpcoming" style="float:right">
                Sonraki Sayfa
            </a>

        </div>
        <div class="tab-pane fade" id="myPastAppointments">
            <table class="table" style="margin-top:15px">
                <tbody>
                    @foreach (var item in Model.PastAppointments)
                    {
                        <tr>
                            <td style="vertical-align:middle">
                                <strong>
                                    <span style="background: #fafafa; border: 1px solid #d9d9d9; border-radius: 5px; background-color: rgb(45, 183, 245); color:#fff; padding:5px;">@item.AppointmentDate.ToShortDateString() - @item.AppointmentHour</span>
                                    @if (item.AppointmentStatus == MHRSLite_EL.Enums.AppointmentStatus.Cancelled)
                                    {
                                        <span style="background: #fafafa; border: 1px solid #d9d9d9; border-radius: 5px; background-color: red; color:#fff; padding:5px;">İptal</span>
                                    }
                                </strong><br />
                                <i style="color: #CB0000; font-size: 12px"> *Geçmiş Randevu</i>
                            </td>
                            <td>
                                Hastane<br />
                                Klinik Doktor
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Önceki sayfa ve sonraki sayfa buttonları*@
            <a asp-controller="Patient" asp-action="Index"
               asp-route-pageNumberPast="@(Model.PastAppointments.PageIndex-1)"
               class="btn @prevDisabledForPast" style="float:left">
                Önceki Sayfa
            </a>
            <a asp-controller="Patient" asp-action="Index"
               asp-route-pageNumberPast="@(Model.PastAppointments.PageIndex+1)"
               class="btn @nextDisabledForPast" style="float:right">
                Sonraki Sayfa
            </a>

        </div>
    </div>
</div>