@model List<AvailableDoctorAppointmentViewModel>
@{
    ViewData["Title"] = "FindAppointment";
    Layout = "~/Views/Shared/_LayoutMHRS.cshtml";
}

<div class="row">
    @*geri butonu*@
</div>
<div class="row">
    <form asp-controller="Patient" asp-action="FindAppointmentHours" method="post">
        <div class="list-group">

            @foreach (var item in Model)
            {
                <a asp-controller="Patient" asp-action="FindAppointmentHours" asp-route-hcid="@item.HospitalClinicId"
                   class="list-group-item list-group-item-action col-md-12" style="justify-content:space-between">
                    <span class="col-md-3">
                        @item.Doctor.AppUser.Name
                        @item.Doctor.AppUser.Surname
                    </span>
                    <strong class="col-md-1">
                        <span style="background: #fafafa; border: 1px solid #d9d9d9; border-radius: 5px; background-color: rgb(45, 183, 245); color:#fff; padding:5px;">
                            @DateTime.Now.AddDays(1).ToShortDateString()
                        </span>
                    </strong>
                    <span class="col-md-6">@item.Hospital.HospitalName</span>
                    <span class="col-md-2">@item.Clinic.ClinicName</span>
                </a>
            }
        </div>

    </form>

</div>


